.programas{
    display: flex;
    background-color: var(--branco);
    margin-top: -100px;

}

.programas__container{
    display: flex;
    margin-left: 12rem;


}


.programas__img{
    width: 60px;
    height: 60px;
    margin: 0 1rem;

}



.programas__titulo{
    font-size: 20px;
}

 a{
    color: var(--verde-secundario);
}