.roteiros-secretos{
    background-color: var(--verde-secundario);
    display: flex;
    padding-top: 1rem;

    
}

.roteiros-secretos__foto{
    border-bottom: 5px solid var(--verde-claro);
    margin-left: 10rem;

}

.roteiros-secretos__foto-img{
    width: 400px;
    height: 250px;
    margin: 2rem 2rem 2rem 0;
    border-radius: 15px;

}

.roteiros-secretos__texto{
    display: flex;
    margin: 5rem 2rem 0 0 ;
    border-bottom: 5px solid var(--verde-claro);




}

.roteiros-secretos-img{
    margin: 1rem 0.5rem;
}

.roteiros-secretos__texto-conteudo{
    color: var(--branco);
}
